/*
Theme Name: Future Gym
Aouthor:Muhammad Jundiy
Viersion: 0.1
*/
/*Global Styles*/
*{
	box-sizing: border-box
}
Body,html{
	margin: 0px;	font-family: 'Muli', sans-serif;


}
.upper{
	text-transform: uppercase
}
.cont{
	margin: auto;
	width: 100%;
	padding: 40px 0;
	height: 100%
}
}
.he{
	height: 80px;
	
}
.he2{
	height: 280px;
	
}
.overlay{
	background-color: rgba(49 , 51 ,61 , 0.8 );
	width: 100%;
	height: 100%;
	overflow: hidden
	
}
/*End Global*/
/*Head Start*/
.First{
	width: 100%;
	height: 75px;
	color: white;
	background-color: #292828;
	background-attachment: fixed
}
.First .info{
	width: 65%;
	margin-top: 1em;
	float: left
}
.First .info ul{
	list-style: none;
	color: white
}
.First .info ul li{
	display: inline-block;
	margin-right: 75px;
	
}
.First .info ul li:first-of-type{
	margin-left: 2.5%
}

/*Head Menues*/
.sitemen{
	width: 100%;
	position: absolute;
	top: 80px;
	left: 0;
	right: 0;
	
}
.sitemen .nav{
	width: 60%;
	color: grey;
	float: right
}
.sitemen .nav ul {
	list-style: none;
	
}
.sitemen .nav ul li{
	display: inline-block;
	margin-right: 47px;
	font-size: 14px;
	transition: background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
}
.sitemen .nav ul a li{
	color: #a4a3a3;
	
	
}
.sitemen .nav ul li:hover{
	color: white
}

	

.logo span{
	float: left;
	font-size: 18px;
	
}
.futureLogo{
    height: 500px
}
.logo{
   height: 150px;
    margin-left: 10%;
    padding: 1em;
    width: 150;
}
.logo span{
	display: inline-block;
	margin-top: 10px;
	color: grey;
	
}


.logo span .s {
	color: #F7CA18;
	font-size: 22px
	

}
/*Ends Menues*/
.back{
	background: url(images/slider-2.jpg) ;
	background-repeat: no-repeat;
	background-size: cover 
}
.conts {
	padding-top:5%;
	padding-left: 5%;
}
.span1{
	font-size: 9em;
	color: white;
	font-weight: bold;
	margin-bottom: 0px;
	display: none
}
.span2{
	font-size: 7em;
	color: white;
display: none}
.p{
	font-size: 15px;
	font-weight: 500;
	color: white;
	line-height: 2em;
	display: none
}
.butt1{
	background-color: #e54444
		;
	color: white;
	width: 150px;
	height: 45px;
	border: none;
	cursor: pointer;
	transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	display: none
}
.butt1:hover{
	background-color: #222222
}
/*Head Ends*/
/*Start Body*/
.motiv{
	width: 100%;
	height: 350px;
}
.mot1{
	width: 25%;
	height: 100%;
	background-color: #e54444;
	float: right
}
.mot2{
	background: url(images/motiv2.jpg) no-repeat;
	width: 25%;
	height: 100%;
	float: right;
	background-size: cover
}
.mot3{
	background: url(images/motiv3.jpg) no-repeat;
	width: 25%;
	height: 100%;
	float: right;
	background-size: cover
}
.mot4{
	background: url(images/service-bg-1.jpg);
	width: 25%;
	height: 100%;
	float: right;
	background-size: cover
}
.tcont{
	padding-left: 10%;
	padding-right: 10%
}
.headm{
	color: white;
	font-weight: bold;
	font-size:1.1em;
	margin-top: 15%;
	line-height: 1.25em
	
}
.pm1{
	color: #dddddd;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 10%;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
}
.pm2{
	color: #dddddd;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 10%;
	opacity: 0;
	margin-bottom: 10px;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
}
.pm3{
	color: #dddddd;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 10%;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
}
.pm4{
	color: #dddddd;
	line-height: 1.5em;
	font-size: 1.1em;
	margin-top: 10%;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
}
.mot1:hover .pm1{
	opacity: 1
}

.mot2:hover .pm2{
	opacity: 1
}
.mot3:hover .pm3{
	opacity: 1
}
.mot4:hover .pm4{
	opacity: 1
}
.motvbutt{
	background-color: transparent;
	border: 2px solid white;
	margin-top: 8%
}
.sitemen2{
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	display: none;
	background-color: #222222;
	z-index: 100;
    height: 140px
	
}
.sitemen2 .nav{
	width: 60%;
	color: grey;
	float: right
}
.sitemen2 .nav ul {
	list-style: none;
	margin-top: 5%
	
}
.sitemen2 .nav ul li{
	display: inline-block;
	margin-right: 48px;
	font-size: 14px;
	transition: background 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out;
}
.sitemen2 .nav ul a li{
	color: #a4a3a3;
	
	
}
.sitemen2 .nav ul li:hover{
	color: white
}
	
/*New frame work*/
.framei{
	text-align: center;
	display: none
}
.fs{
	color: grey;
	font-style: italic;
	margin-top: 4%;
	font-weight: bold
}
.fh{
	font-size: 2em
}
.fp{
	margin-right: 10%;
	margin-left: 10%;
	font-weight: 700;
	color: #525151
}
.line{
    width: 530px;
    height: 30px;
    border-bottom: 2px dotted #e54444;
    margin-left: 30%;
}
.line2{
    width: 530px;
    height: 30px;
    border-bottom: 2px dotted #e54444;
    margin-left: 30%;
	margin-top: 22%
}
.flip{
	width: 400px;
	height: 200px;
	margin: 10px;
	float: left
}

.basic{
	width: 100%;
	height: 250px;
	background-color: #1c1b1b;
	overflow: hidden
	
}
.bi{
	float: left;
	width: 24.9%;
	border-right: 0.1px solid white;
	height: 94%;
	display: none
}
.bi:last-of-type{
	border:none
}
.bi .n{
	color: white;
	text-align: center;
	margin-top: 20%;
	font-size: 2em;
	display: block;
}
.bi .w{
	color: #e54444;
	text-align: center;
	margin-top: 6%;
	font-size: 1.25em;
	display: block;
}
/*A new thing */
.cz{
	height: 662px;
	margin-top: -1em;
	width: 100%;
	background: url(images/parallax-bg-1.jpg) no-repeat;
	background-size: cover;
	
}
.cz h3{
	float: right;
	margin-top: 16%;
	margin-right: 8%;
	color: #222222;
	font-size: 4em
}
.cz h2{

	float: right;
	position: absolute;
	margin-top:24%;
	color: #e54444;
	font-size: 3em;
	margin-right: 6px;
	margin-left: 52%
	
}
.cz p{
	position: absolute;
    float: right;
    margin-top: 30%;
    margin-right: 3%;
    margin-left: 54%;
    font-size: 1.25em;
    color: #110e0e;
}
.allinfo{
	width: 100%;
	height: 600px;
	
}
.det{
	width: 70%;
	height: 100%;
	float: right;
	background-color: #222222;
	
}
.det h1{
	color: white;
	margin-left: 10%;
	
}
.det h2{
	color: white;
	margin-left: 10%;
	
}
.det p{
	color: white;
	margin-left: 10%
}
.title{
	background-color: #e54444;
	color: white;
	width: 30%;
	height: 100%;
	float: left
}
.title div{
	border-bottom: 0.5px solid white;
	height: 164px
}

.title h2{
	margin: 5%
}
.title p{
	margin: 20;
	margin-top: 6px;
	font-size: 14px;
	color: black;
	font-weight: 500;
	line-height: 1.5em
}
.th{
	border-top: 2px solid white ;
	
}
/*Trainers Section*/
.trainers{
	width: 100%;
	height: 750px;
	
}
.trainers .conte{
	text-align: center;
	margin-bottom: 6%;
	margin-top: 6%
	
}
.trainers .conte span{
	font-style: italic
}
.trainers .train{
	float: left;
	width: 28%;
	height: 400px;
	margin-left: 5%
}
.trainm{
	background: url('images/personnel-1.jpg') no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	margin-left: 5%
}
.train h2{
	text-align: center;
	font-size: 1.1em
}
.train span{
margin-left: 37%;
	color: #333;
	font-style: italic
}
.train h3{
	border-bottom: 2px solid grey;
	width: 74px;
	margin-left: 41%
}

.trainm2{
	background: url('images/personnel-2.jpg') no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	margin-left: 5%
}
.trainm3{
	background: url('images/personnel-3.jpg') no-repeat;
	background-size: contain;
	height: 100%;
	width: 100%;
	margin-left: 5%
}
/*Prices Plan*/
.prices{
	height: 1100px;
	width: 100%;
	background: url(images/shutterstock_109996532.jpg) no-repeat;
	background-size: cover;
	
}
.overlay2{
	width: 100%;
	height: 100%;
	background-color: rgba(49 , 51 ,61 , 0.8 );

}
.headp{
	text-align: center
}
.headp h2{
	color: white;
	font-size: 2.2em;
	padding-top: 4%;
	
}
.headp span{
	color: #e02b2b;
	font-size: 1.25em;
	font-weight: bold;
	font-style: italic;
	margin-bottom: 3%;
    display: block;
	
}
.prices .secondPrice{
	float: left;
	width: 28%;
	height: 80%;
	margin-left: 2%;
	margin-right: 2%;
	display: none
}
.prices .firstPrice{
	float: left;
	width: 28%;
	height: 80%;
	margin-left: 2%;
	margin-right: 2%;
	display: none
}
.prices .firstPrice .fihead{
	background-color: #3e3e3e;
	height: 27%;
	text-align: center;
	color: white
}
.prices .firstPrice .fihead h2{
	padding-top: 34%
}
.prices .firstPrice .things{
	background-color: white;
	margin-top: -2em
}
.prices .firstPrice .things h2{
	font-size: 2.5em;
	padding-left: 26%;
	padding-top: 10px;
	padding-bottom: 10%;
	font-weight: normal
}
.prices .firstPrice .things h2 span{
	font-size: 50%;
	color: #b9b9b9;
}

.prices .firstPrice .things ul{
	list-style: none;
	
}
.prices .firstPrice .things ul li{
	border-bottom: 1px solid #dddddd;
	padding: 10%;
	color: grey;
}
.prices .firstPrice .things .learn{
	margin-left: 28%;
    margin-bottom: 7%;
    margin-top: 1%;
    height: 50px;
    background-color: #454444;
    width: 150px;
    border-radius: 75px;
    color: white;
	font-size: 13px;
	font-weight: bold;
    border: none;
	transition: all 0.5s ease-in-out
}
.prices .firstPrice .things .learn:hover{
	background-color: dodgerblue
}
.prices .secondPrice{
	height: 90%;
	margin-top: -3%
}
.prices .secondPrice .fihead{
	background-color: #e5443b;
	height: 30%;
	text-align: center;
	color: white
}
.prices .secondPrice .fihead h2{
	padding-top: 34%;
	
}
.prices .secondPrice .things{
	background-color: white;
	margin-top: -3em
}
.prices .secondPrice .things h2{
	font-size: 3em;
	padding-left: 26%;
	padding-top: 10px;
	padding-bottom: 10%;
}
.prices .secondPrice .things h2 span{
	font-size: 50%;
	color: #b9b9b9;
}

.prices .secondPrice .things ul{
	list-style: none;
	
}
.prices .secondPrice .things ul li{
	border-bottom: 1px solid #dddddd;
	padding: 10%;
	color: grey;
}
.prices .secondPrice .things .learn{
	margin-left: 28%;
    margin-bottom: 7%;
    margin-top: 1%;
    height: 50px;
    background-color:  #e5443b;
    width: 150px;
    border-radius: 75px;
    color: white;
	font-size: 13px;
	font-weight: bold;
    border: none;
	transition: all 0.5s ease-in-out
}

/*Footer*/
.footer{
	width: 100%;
	height: 80px;
	background-color: #222222;
	color: gray
}
.footer span{
	    padding-top: 3%;
    display: block;
    text-align: center;
}
/*Elemtents Page stlye*/
.eleback{
	background: url("images/free-weights1.jpg") no-repeat;
	width: 100%;
	background-size: cover
}
.overlay3{
	width: 100%;
	height: 100%;
	background-color: rgba(55 , 53 ,66 , 0.6);

	
}
.eleback h2{
	text-align: center;
	padding-top: 3%;
	color: #fecd1f;
	font-size: 5.5em;
	display: none
	
}
.elementspan{
	text-align: center;
    color: #c13a3a;
    font-size: 19px;
    display: none;
}
.machiens{
	height: 400px;
	width: 100%;
	background-color:#444444
	
}
.hehexD{
	height: 70px
}
.review{
	padding: 0 40px;
	text-align: center;
}
.bh{
	background: url("images/bh-logo-2.png") no-repeat;
	width: 96px;
    height: 92px;
    background-size: contain;
    margin: auto;
	padding-bottom: 10px;
	display: none;
	margin-bottom: -10%;
	border-radius: 20px 20px 0 0
}
.retext{
	border-top: 2px solid #cccccc;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 4%;
	font-size: 1.25em;
	color: lightgray;
	line-height: 1.25em;
	height: 50%;
	margin-top: 11%
	
}
.retext p{
	display: none
}
.num{
	width: 100%;
	background: url(images/shutterstock_109996532.jpg) no-repeat;
	background-size: cover;
	background-position: center
	
}
.numstuff{
	width: 80%;
	margin:  auto;
	height: 90%;
	padding-top: 4%
}
.rightcol{
	float: right;
	width: 45%;
	height: 100%;
	margin-left: 10px
}
.leftcol{
	float: left;
	width: 45%;
	height: 100%;
		margin-right: 10px

}
.numstuff .left{
	height: 50%;
	float: left;
	width: 100%;
	background-color: white;
	position: relative;
	margin-left: -124px;
	opacity: 0
}
.numstuff .leftcol .left:first-of-type{
	margin-bottom: 10px
}
.numstuff .rightcol .right:first-of-type{
	margin-bottom: 10px
}
.numstuff .right{
	height: 50%;
	float: right;
	width: 100%;
	background-color: white;
	opacity: 0;
	margin-right: -124px
	
}
.numstuff i {
	border-radius: 50%;
 	display: block;
	text-align: center
}
.numstuff h2{
	text-align: center;
	border-bottom: 2px solid grey
}
.numstuff p{
	color: #333333;
	padding: 0 10px;
	text-align: center
}